#payment_form {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #007bff;
  border-radius: 15px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  padding: 16px;
  text-align: center;
}
